@{
    ViewBag.Title = "HuongDanSD";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" style="border-bottom: solid 1px #b0a6a6">
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>Hướng dẫn sử dụng</span>
    </h3>
    <h3>
        Quý khách có nhu cầu mua hàng online, vui lòng làm theo các bước sau đây:
    </h3>
    <br />


    <h6>BƯỚC 1: Chọn sản phẩm cần mua tại website</h6>



    <br />
    <h6>

        BƯỚC 2: Chọn đúng các tiêu chí sản phẩm như màu sắc, dung lượng, sau đó nhấn “ MUA NGAY “

    </h6>
    <br />
    <h6>

        BƯỚC 3: Kiểm tra lại các tiêu chí đã chọn và số lượng sản phẩm – Bấm tiếp “NHẬP THÔNG TIN ĐẶT HÀNG”

    </h6>

    <br />
    <h6>

        BƯỚC 4: Điền đầy đủ thông tin nhận hàng bao gồm Họ tên, Số điện thoại, Email (nếu thanh toán trực tuyến). Chọn Phương thức nhận hàng thuận tiện nhất và điền đầy đủ thông tin địa chỉ. Hnam Mobile freeship toàn quốc cho đơn hàng trên 500.000 đồng. Nhập mã giảm giá (nếu có)


    </h6>
    <br />

    <p style="margin-left:10%">

        Chọn Hình thức thanh toán
    </p>
    <br />
    <a>
        a. Thanh toán trực tiếp tại nhà: <br />
        Khách hàng thanh toán bằng tiền mặt trực tiếp tại nhà sẽ được giảm ngay 1.5% với đơn hàng trên 2.000.000đ.
    </a>
    <a>
        b. Thanh toán trực tuyến (Visa, Master, JCB, ATM): <br />
        Khách hàng chọn hình thức Thanh toán trực tuyến sau đó chọn nút Thanh toán ở góc phải màn hình sẽ được chuyển sang giao diện thanh toán của AlePay. <br />
        Giảm ngay 5% lên đến 100.000đ khi thực hiện mua sắm online qua cổng thanh toán AlePay (sản phẩm có giá trị từ 2 triệu)
    </a>
    <p style="margin-left:10%">
        Chọn Loại thanh toán phù hợp:
    </p>
    <br />
    <a>
        Visa/Master/JCB - Thanh toán bằng thẻ ATM - Thanh toán bằng Internet Banking.
    </a>
    <br />

    Điền thông tin chính xác vào các mục mà giao diện yêu cầu.
    <br />
    Kiểm tra lại thông tin và chọn Thanh toán.
    <p>
        <br />
    <p style="margin-left:10%">
        c. Thanh toán qua ví:
    </p>
    <br />
    <img src="~/Content/hinh/thanhtoan.PNG" />
    </p>
    <br />

    <a>
        Nếu lựa chọn thanh toán qua ví Zalo Pay hoặc Momo bạn sẽ được chuyển sang cổng thanh toán riêng và làm theo hướng dẫn.
    </a>
    <br />
    <a>
        Giảm ngay 5% tối đa 100k khi thanh toán qua cổng ZaloPay hoặc Momo (sản phẩm có giá trị từ 2 triệu)
    </a>


    <h5>Trang thanh toán Zalo Pay  </h5><br />
    <img src="~/Content/hinh/zalooo.PNG" />
    <br />

    <h5>

        Trang thanh toán MoMo
    </h5> <br />
    <img src="~/Content/hinh/momo.PNG" />
    <p style="margin-left:10%">
        d. Chuyển khoản qua tài khoản ngân hàng:
    </p>
    <br />Quý khách hàng vui lòng chuyển khoản thanh toán vào tài khoản sau và chọn Thanh toán.


    <h6>

        BƯỚC 5: Sau khi thực hiện Bước 4, website sẽ thông báo Trạng thái của giao dịch. Trong vòng 5 phút, nhân viên tổng đài sẽ tiếp nhận và liên hệ hỗ trợ Quý Khách hàng.
        <br />
        Với các đơn hàng từ 20h tối tới 9h sáng hôm sau, Hnammobile sẽ liên hệ với Quý khách trước 12h trưa cùng ngày.
    </h6>
</div>

