
@{
    ViewBag.Title = "PhuongThucVanChuyen";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" style="border-bottom: solid 1px #b0a6a6">
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>Phương thức giao hàng - Vận chuyển</span>
    </h3>
    <h6 style="color:red">

        1. Thuê shipper riêng cho cửa hàng<br />

    </h6>
    Bạn sẽ phải tự đóng gói hàng và giao cho shipper của mình đưa đến tay khách hàng
    . Cách này chỉ phù hợp với các mặt hàng có kích thước vừa và nhỏ trong phạm vi vận chuyển ngắn.
    Có ưu điểm là nhanh chóng nhưng lại không thực sự đáng tin cậy và chi phí cũng khá cao.
    <h6 style="color:red">
        2. Gửi hàng qua bưu điện
        <br />
    </h6>

    <img src="~/Assests/images/cpn.jpg" /><br />
    Sau khi chốt đơn với khách hàng, bạn sẽ phải tự đóng gói theo đúng tiêu chuẩn
    của bưu điện và mang đến bưu điện để gửi. Cách này được đảm bảo hơn nhưng cũng không
    ít trường hợp bưu điện làm thất lạc bưu kiện và thời gian vận chuyển quá lâu, chưa kể phải mang ra tận bưu điện gửi hàng cũng làm mất không ít thời gian của bạn.
    <h6 style="color:red">
        3. Sử dụng dịch vụ ship COD và chuyển phát nhanh
    </h6>
    <br />
    <img src="~/Assests/images/cod.jpg" /><br />
    Ship COD (dịch vụ giao hàng thu tiền hộ) là hình thức khá phổ biến với các shop online bởi khách hàng luôn ưu tiên phương thức này hơn là chuyển khoản thanh toán. Ưu điểm của nó là lấy được lòng tin từ khách hàng, thuận tiện cho cả người mua và người bán. Tuy nhiên có nhược điểm là chi phí cao và thời gian lấy tiền lại khá lâu.<br />

    Các hãng chuyển phát nhanh xuất hiện ngày càng nhiều khiến các chủ shop online băn khoăn không biết chọn dịch vụ của hãng nào. Chuyển phát nhanh có ưu điểm vượt trội về tiện ích và tốc độ giao nhận so với bưu điện. Các loại hàng hóa nằm trong danh mục được phép vận chuyển không kể hình dáng, kích cỡ đều sẽ được giao tận tay người nhận.<br />

    Nhanh là cổng trung gian kết nối các hãng vận chuyển với các shop online, đảm bảo sẽ đem lại cho bạn dịch vụ tốt nhất cùng mức cước phí hợp lí nhất giữa các hãng vận chuyển đầu ngành trên cả nước. Chưa kể Nhanh cũng cam kết sẽ hoàn chuyển tiền thu hộ cho bạn một cách nhanh nhất với tần suất 2 lần mỗi tuần. Bạn sẽ không còn phải đau đầu khi suy nghĩ lựa chọn hãng vận chuyển và lo lắng về việc thanh toán tiền thu hộ chậm nữa vì đã có Nhanh cùng đội ngũ nhân viên chuyên nghiệp luôn đồng hành bên bạn
</div>

