
@{
    ViewBag.Title = "QuyDinhDoiTra";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" style="border-bottom: solid 1px #b0a6a6">
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>Quy định - Chính sách đổi trả, hoàn tiền</span>
    </h3>
    Giới thiệu về máy đổi trả tại BẢO AN
    <br />

    Máy đổi trả là những Điện thoại , Máy tính bảng, Laptop được bán ra tại BẢO AN, miễn phí đổi sản phẩm tương đương trong 05 ngày đầu tiên nếu sản phẩm có lỗi nhà sản xuất.
    BẢO AN chỉ thu lại những sản phẩm được bán ra tại BẢO AN, không thu mua lại các sản phẩm nơi khác. Vì vậy, các sản phẩm đều là hàng chính hãng và có chất lượng tốt nhất.
    <br />
    QUY ĐỊNH - CHÍNH SÁCH ĐỔI TRẢ HÀNG, HOÀN TIỀN
    <br />
    Chúng tôi có chính sách trả hàng khi bạn không thích hoặc không hợp với nhu cầu sử dụng, sau đây là một số chính sách đổi trả hàng tại BẢO AN.

    Hàng hóa trả lại có thể phải chịu một khoản phí hoàn kho tùy theo quyết định của BẢO AN (xem thêm chi tiết chính sách đổi trả). Phí vận chuyển trả không được miễn phí.

    Tất cả hàng hóa là mới 100%, bao bì bán lẻ chưa được mở, chưa qua sử dụng (một số mặt hàng khác có thể có chính sách đổi trả khác nhau, vui lòng xem điều kiện đổi trả từng mặt hàng)

    Những sản phẩm sau đây không đủ điều kiện để trả lại:<br />

    -          Sản phẩm không được mua từ BẢO AN
    <br />
    -          Không đủ tiêu chuẩn hàng hóa được trả lại (xem thêm chi tiết chính sách đổi trả).
    <br />
    -          Các sản phẩm bị rơi vỡ, tự ý sửa chữa, không đọc được serial trên nhãn, model sản phẩm hoặc sổ bảo hành (nếu có).
    <br />
    -          Các sản phẩm không còn bao bì gốc và phụ kiện, bao gồm sách hướng dẫn, dây cáp,…
    <br />
    -         Sản phẩm được mua bởi chương trình khuyến mãi giảm giá không được đổi trả.

    <h5>

        PHẦN I - CHÍNH SÁCH ĐỔI TRẢ
    </h5>
    Áp dụng cho tất cả các sản phẩm đang kinh doanh tại BẢO AN
    <br />
    SẢN PHẨM MỚI: ĐIỆN THOẠI, MÁY TÍNH BẢNG, LAPTOP.<br />

    A.     SẢN PHẨM LỖI DO NHÀ SẢN XUẤT: <br />

    i.      05 ngày đầu:<br />

    1 đổi 1 (cùng mẫu, cùng màu, cùng dung lượng...). Trường hợp sản phẩm đổi hết hàng, khách hàng có thể đổi sang sản phẩm khác cùng nhóm hàng có giá trị lớn hơn hoặc ngang bằng giá trị sản phẩm lỗi.

    ii.      Sau 05 ngày:<br />

    Gửi máy bảo hành theo quy định của hãng.

    B.     SẢN PHẨM KHÔNG LỖI:<br />

    i.      Tháng 1:<br />

    Thu lại máy với giá bằng 80% giá trên hoá đơn lúc xuất kho. Tùy trạng thái máy.

    ii.      Tháng 2 – 12:<br />

    Thu lại máy, các tháng tiếp theo trừ thêm 5% so với tháng thứ 1 (80%). VD: tháng thứ 2 mua lại với giá 75% giá trên hoá đơn, tháng thứ 3 là 70%...

    C.     SẢN PHẨM LỖI DO NGƯỜI SỬ DỤNG:<br />

    §  Không đủ điều kiện bảo hành theo qui định của hãng.<br />

    §  Máy không giữ nguyên 100% hình dạng ban đầu<br />

    §  Màn hình bị trầy xước.<br />

    => Không áp dụng bảo hành, đổi trả. BẢO AN  hỗ trợ chuyển bảo hành, khách hàng chịu chi phí sửa chữa.<br />

    <h5>

        PHẦN II – HƯỚNG DẪN ĐỔI - TRẢ SẢN PHẨM
    </h5>
    <h6>

        I. Kiểm tra điều kiện đổi trả hàng:
    </h6>
    Vui lòng chắc chắn rằng sản phẩm quý khách yêu cầu đổi (trả) thỏa mãn điều kiện đổi trả hàng của Bảo An tại chính sách đổi trả hàng hóa.

    <h6>

        II. Các bước thực hiện đổi - trả:
    </h6>
    Bước 1: Đăng ký<br />

    Liên hệ với Trung tâm Hỗ trợ của Bảo An qua hotline 19002074 và cung cấp thông tin chi tiết về sản phẩm lỗi gồm:<br />

    Mã số đơn hàng<br />

    Tên sản phẩm<br />

    Lỗi sản phẩm (mô tả chi tiết và kèm ảnh chụp nếu có)<br />

    Nhu cầu cần hỗ trợ: đổi/trả/bảo hành
    <br />


    Bước 2: Nhận tin nhắn xác nhận đã đăng ký đổi/trả thành công và email hướng dẫn đóng gói.<br />

    Sau khi yêu cầu đổi/trả/bảo hành được chấp nhận, Bảo An sẽ gửi đến quý khách một tin nhắn và email hướng dẫn có kèm mã miễn phí gửi hàng về Bảo An thông qua đối tác giao hàng Bưu Điện.
    <br />

    Bước 3: Đóng gói và mang sản phẩm đến Bưu Điện<br />

    Đóng gói và mang sản phẩm đến bưu điện gần nhà, quý khách có thể tham khảo mạng lưới bưu điện trên toàn quốc tại: http://www.vnpost.vn/POLocation.aspx
    <br />

    Bước 4: Gửi sản phẩm về Bảo An<br />

    Quý khách vui lòng gửi sản phẩm qua đường Bưu Điện về Bảo An trong vòng 3 ngày làm việc kể từ khi thông báo với bộ phận Chăm Sóc Khách Hàng và gửi kèm:<br />

    Hóa đơn bán hàng hoặc đính kèm giấy ghi chú có mã đơn hàng<br />

    Hóa đơn giá trị gia tăng (nếu có)<br />

    Phụ kiện đi kèm sản phẩm và tặng khuyến mãi kèm theo (nếu có)<br />

    Một số lưu ý khi gửi hàng đến bưu điện:<br />

    Đóng gói, chèn lót sản phẩm như ban đầu, nhưng không niêm phong bề mặt thùng ​trước khi hoàn tất quá trình gửi hàng ​vì có thể bưu điện cần kiểm tra trước khi nhận hàng từ quý khách.<br />

    Cung cấp mã đơn hàng và mã gửi hàng Bảo An đã gửi cho nhân viên bưu điện.<br />

    Lưu ý không dán băng keo trực tiếp lên hộp sản phẩm vì yêu cầu đổi/trả có thể sẽ bị từ chối nếu hộp sản phẩm bị hư hỏng.<br />

    Liên hệ Hotline Bảo An: 19002074 ( 8h - 21h ) khi có bất cứ khó khăn xảy ra trong quá trình làm việc với bưu điện.<br />

    Điền thông tin mã số đơn hàng lên thùng hàng và gửi hàng về Tiki theo địa chỉ nhân viên chăm sóc khách hàng đã cung cấp.<br />

    Trong trường hợp không nhớ thông tin ở bước số 4, quý khách có thể xuất trình tin nhắn Bảo An đã gửi (ở bước 2) cho nhân viên bưu điện và làm theo hướng dẫn.

    __
    <br />


    Lưu ý: Quý khách vui lòng chỉ gởi sản phẩm qua đường bưu điện và chịu trách nhiệm về trạng thái nguyên vẹn của sản phẩm khi gửi về Bảo An. Quý khách có thể ghi nhớ mã bưu gửi và tra cứu thông tin kiện hàng gửi trả tại: http://tracuudinhvi.hcmpost.vn/dv/

    Sau khi nhận được sản phẩm quý khách gởi về, Bảo An sẽ phản hồi và cập nhật thông tin trên từng giai đoạn xử lý đến quý khách qua email.

    <h6>

        II. Thời gian thực hiện đổi - trả:
    </h6>

    Thời gian thực hiện đổi trả được tính từ Khi Bảo An nhận được hàng từ khách hàng gửi đến. Thời gian xử lí từ 24h – 48h làm việc (trừ thứ Bảy, Chủ nhật và ngày Lễ).

    Lưu ý: Quý khách nên giữ liên lạc với chừng tôi để đảm bảo được phục vụ tốt nhất.
    <br />
    <h5>

        PHẦN III – KHI NÀO KHÁCH HÀNG ĐƯỢC HOÀN TRẢ TIỀN
    </h5>
    Quý khách sẽ được hoàn lại tiền khi:

    1.       1. Sản phẩm bị lỗi trong 05 ngày đầu sử dụng, Bảo An sẽ đổi máy mới. Trong trường hợp khách hàng không muốn đổi máy mới thì có thể yêu cầu hoàn tiền.

    Quý khách phải gửi đầy đủ sản phẩm nguyên vẹn, không trầy xước, thùng, các chứng từ, quà tặng đã nhận khi mua hàng.

    2.       2. Sản phẩm không lỗi, trong 05 này đầu, nếu khách hàng không vừa ý sẽ được hoàn tiền theo quy định ở Phần I – Chính sách đổi trả.

    Trong quá trình sử dụng dịch vụ, nếu có bất cứ vấn đề không hài long, hoặc phản ánh, vui lòng gửi báo cáo về cho chừng tôi qua Email: baoanco@gmail.com – Hotline: 19002074
</div>

