@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>Giỏ hàng</span>
        </h3>
        <div class="text-center" style="font-size: 20px;">Không có sản phẩm!</div>
    </div>
</div>


